@using KPcore.Interfaces
@using Microsoft.AspNetCore.Identity
@using KPcore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="user-name">
                <a asp-area="" asp-controller="Manage" asp-action="Index">Witaj <strong>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName!</strong></a>
                <div class="custom-login__baloon" id="notificationCounter">@Model.Notifications.Count</div>
                <div class="notifications__list">
                    <ul id="notif__ul">
                        @if (Model.Notifications.Count > 0)
                        {
                            foreach (var n in @Model.Notifications)
                            {
                                <li class="single-notification" id="notification-@n.Id">
                                    <small>@n.NotificationDate</small> - @n.Content
                                    <div onclick="markAsSeen(@n.Id)" class="btn hide-notif"><i class="fa fa-times-circle"></i></div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="single-notification">Brak powiadomień.</li>
                        }
                    </ul>

                </div>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Wyloguj się</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a></li>
    </ul>
}
<script>
    var markAsSeen = function (notifId) {
        $.ajax({
            type: "POST",
            url: "/Notification/MarkAsSeen",
            data: { notificationId: notifId },
            success: function () {
                document.getElementById("notification-" + notifId).style.display = "none";
                var counter = parseInt($("#notificationCounter").html());
                $("#notificationCounter").html(counter-1);
                if (counter - 1 <= 0) {
                    $("#notif__ul").html('<li class="single-notification">Brak powiadomień.</li>')

                }

            },
            error: function () {
                Console.log("Post error. Notification still exists now.")
            }
        })
    }
</script>