@using KPcore.Interfaces
@using Microsoft.AspNetCore.Identity
@using KPcore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="user-name">
                <a asp-area="" asp-controller="Manage" asp-action="Index">Witaj <strong>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName!</strong></a>
                <div class="custom-login__baloon">@Model.Notifications.Count</div>
                <div class="notifications__list">
                    <ul>
                        @if (Model.Notifications.Count > 0)
                        {
                            foreach (var n in @Model.Notifications)
                            {
                                <li class="single-notification">@n.NotificationDate - @n.Content</li>
                            }
                        }
                        else
                        {
                            <li class="single-notification">Brak powiadomień.</li>
                        }
                    </ul>

                </div>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Wyloguj się</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a></li>
    </ul>
}
