@model TopicCommentViewModel

<div class="title">
    <h2>@ViewData["Title"]</h2>
    <p class="text-success">@ViewData["StatusMessage"]</p>
    <hr />
</div>

<form asp-action="Entry">
    <div class="form-horizontal custom-form">
        <h4>Temat: @Model.Topic.Title</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.TextBoxFor(m => m.TopicId, new { type = "hidden" })
        @Html.TextBoxFor(m => m.CommentId, new { type = "hidden" })
        @Html.TextBoxFor(m => m.CreationDate, new { type = "hidden" })

        <span asp-validation-for="Content" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Content"></label>
            <div>
                <textarea asp-for="Content" rows="7" id="comment" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group ">
            <input type="submit" value="Zatwierdź" class="btn btn-success" />
            @Html.ActionLink("Wróć", "Details", new { id = Model.TopicId }, new { @class = "btn btn-grey" })
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
