@model TeacherTopicsIndexViewModel
@{
    ViewData["Title"] = "Twoje tematy";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <dl class="dl-horizontal">
        <dt>Your topic:</dt>
        <dd>
            <a asp-controller="Topic" asp-action="Create" class="btn-bracketed">Stwórz nowy temat</a>
            <hr />
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Przedmiot</th>
                        <th>Data utworzenia</th>
                        <th>Termin spotkań</th>
                        <th>Akcje</th>
                    </tr>

                    @foreach (var t in Model.Topics)
                    {
                        <tr>
                            <td>@t.Title</td>
                            <td>@t.Description</td>
                            <td>@t.Subject.Name</td>
                            <td>@t.CreationDate</td>
                            <td>
                                @if (t.MeetingsDate != null)
                                {
                                    <span>
                                        @t.MeetingsDate.Value.DayOfWeek @t.MeetingsDate.Value.Hour:@t.MeetingsDate.Value.Minute
                                    </span>
                                }
                                else
                                {
                                    <span>nie ustalono</span>
                                }
                            </td>
                            <td>edytuj/usuń</td>
                        </tr>
                    }
                </table>
            </div>

        </dd>
    </dl>
</div>
