@model AdminIndexViewModel
@{
    ViewData["Title"] = "Panel admina";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-center">
            <h2>Przedmioty:</h2>
            <a asp-controller="Admin" asp-action="Subject" class="btn btn-grey btn-bracketed">Dodaj nowy</a>

        </dt>
        <dd>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr class="color-molten-core">
                        <th>Nazwa przedmiotu</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>

                    @foreach (var s in Model.Subjects)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td>@s.Description</td>
                            <td>@Html.ActionLink("Edytuj", "Subject", new { id = s.Id }, new { @class = "btn-small-grey" })/@Html.ActionLink("Usuń", "RemoveSubject", new { id = s.Id }, new { @class = "btn-small-grey", onclick = "return confirm('Na pewno chcesz usunąć ten przedmiot?');" })</td>
                        </tr>
                    }
                </table>
            </div>

        </dd>
    </dl>
</div>
