@model AdminIndexViewModel
@{
    ViewData["Title"] = "Panel admina";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<hr />
<div>
    
    <dt class="text-center">
        <div class="row">
            <h2>Przedmioty:</h2>
            <a asp-controller="Admin" asp-action="Subject" class="btn btn-grey">Dodaj nowy</a>
        </div>
        <div class="row table-responsive table-wrapper-custom">
            <table class="table-custom">
                <div class="row-custom header-custom">
                    <div class="cell-custom">Nazwa przedmiotu</div>
                    <div class="cell-custom">Opis</div>
                    <thdiv class="cell-custom">Akcje</thdiv>
                </div>

                @foreach (var s in Model.Subjects)
                {
                    <div class="row-custom">
                        <div class="cell-custom">@s.Name</div>
                        <div class="cell-custom">@s.Description</div>
                        <div class="cell-custom">@Html.ActionLink("Edytuj", "Subject", new { id = s.Id }, new { @class = "btn-small-grey" })/@Html.ActionLink("Usuń", "RemoveSubject", new { id = s.Id }, new { @class = "btn-small-grey", onclick = "return confirm('Na pewno chcesz usunąć ten przedmiot?');" })</div>
                    </div>
                }
            </table>
        </div>

</div>
