@model GroupDetailsViewModel

@{
    var leader = Model.GroupLeader.Id == Model.CurrentUser.Id;
}
<div class="text-center group-list-sm border-transparent user-list-main">
    <h3>
        Członkowie: <i class="fa fa-minus-square-o"></i>
    </h3>
    <hr class="molten-core"/>
    <ul class="list-unstyled user-list">

        <li>
            <div class="list-item-info">
                Lider: <a href="#">@Model.GroupLeader.FirstName @Model.GroupLeader.LastName</a>
                <hr/>
            </div>
        </li>
        @foreach (var s in Model.StudentsList)
        {
            <li>
                <div class="list-item-info">
                    <a href="#">@s.FirstName @s.LastName</a>
                    <div class="remove-user">
                        @if (leader)
                        {
                            @Html.ActionLink("usuń", "RemoveMember", new { groupId = Model.Id, memberId = s.Id }, new { @class = "btn-small-grey", onclick = "return confirm('Na pewno chcesz usunąć tę osobę?');" })
                        }

                    </div>
                    <hr/>
                </div>
            </li>
        }
    </ul>
    <!-- ADD USER BUTTON -->
    <div class="row space-after">
        <div class="text-center">
            @{
                if (leader)
                {
                    @Html.ActionLink("Dodaj osobę", "AddMember", new {id = Model.Id}, new {@class = "btn btn-grey"})
                }
                else
                {
                    @Html.ActionLink("Opuść grupę", "LeaveGroup", new {id = Model.Id}, new {@class = "btn btn-grey", onclick = "return confirm('Na pewno chcesz opuścić tę grupę?');"})
                }
            }
        </div>
    </div>
    <!-- ADD USER BUTTON END -->
</div>