@model ChooseTopicForGroupViewModel

@{
    ViewData["Title"] = "Wybierz temat";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ChooseTopicForGroup">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.TextBoxFor(m => m.GroupId, new { type = "hidden" })

        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Prowadzący</th>
                    <th>Przedmiot</th>
                    <th>Termin spotkań</th>
                </tr>

                @foreach (var t in Model.Topics)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Title</td>
                        <td>@t.Description</td>
                        <td>@t.Teacher.FirstName @t.Teacher.LastName</td>
                        <td>@t.Subject.Name</td>
                        <td>
                            @if (t.MeetingsDate != null)
                            {
                                <span>
                                    @t.MeetingsDate.Value.DayOfWeek @t.MeetingsDate.Value.Hour:@t.MeetingsDate.Value.Minute
                                </span>
                            }
                            else
                            {
                                <span>nie ustalono</span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="form-group">
            <label asp-for="SelectedTopic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SelectedTopic" asp-items="@Model.TopicsList" class="form-control"></select>
                <span asp-validation-for="SelectedTopic" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź" class="btn btn-success" />
                @Html.ActionLink("Wróć", "Details", new { groupId = Model.GroupId }, new { @class = "btn btn-grey" })
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
