@model KPcore.ViewModels.GroupViewModels.GroupDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
    var leader = (Model.GroupLeader.Id == Model.CurrentUser.Id);
}
<div>

</div>


<div class="container-fluid">
    <!-- GROUP TITLE -->
    <div class="row">
        <div class="col-sm-12 border-transparent space-after space-before">
            <div class="col-sm-8 col-sm-offset-2 text-center group-title">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 id="group-name-display">
                        @Html.DisplayFor(model => model.Name)
                    </h1>
                    @if (leader)
                    {
                        <form asp-action="EditGroupName">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div id="group-name-edit" class="form-group hidden">
                                <input asp-for="Name" class="form-control inblock" />
                                <span asp-validation-for="Name" class="text-danger" />
                                <input type="submit" value="Zmień" class="btn btn-grey inblock" />
                            </div>
                            @Html.TextBoxFor(model => model.Id, new { type = "hidden" })
                        </form>
                    }
                        
                </div>
                <div class="col-sm-2 text-right group-control-buttons">
                    @if (leader)
                    {
                        <a id="btn-edit" href="#" class="btn-small-grey">Edytuj</a>
                        @Html.ActionLink("Usuń", "DeleteGroup", new { id = Model.Id }, new { @class = "btn-small-grey", onclick = "return confirm('Na pewno chcesz usunąć tę grupę?');" })
                    }
                </div>
                <div class="col-sm-12">
                    <hr class="molten-core-bold" />
                    @{
                        if (Model.Topic != null)
                        {
                            <a href="#">
                                <h1>@Model.Topic.Title</h1>
                            </a>
                            <h2>@Model.Topic.Subject.Name</h2>
                        }
                        else
                        {
                            if (leader)
                            {
                                <a href="#">
                                    <h2>
                                        <i class="fa fa-plus-square-o"></i> Dodaj temat do grupy
                                    </h2>
                                </a>
                            }
                            else
                            {
                                <h2>Lider grupy nie wybrał jeszcze tematu.</h2>
                            }
                        }
                    }
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="col-sm-3 space-after"></div>
        </div>
    </div>
    <!-- GROUP TITLE END -->
    <!-- CONTENT -->
    <div class=row>

        <!-- COMMENT SECTION START -->
        <div class="col-sm-8 border-transparent comment-section space-after">
            @await Html.PartialAsync("_Comments")
        </div>
        <!-- COMMENT SECIONT END -->
        <!-- USER LIST -->
        <div class="col-sm-4 space-after user-list">

            @await Html.PartialAsync("_UserList")
        </div>
        <!-- USER LIST END -->
    </div>
</div>
