@model KPcore.ViewModels.GroupViewModels.GroupDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
    var leader = (Model.GroupLeader.Id == Model.CurrentUser.Id);
}
<div>

</div>

<div class="container-fluid">
    <!-- GROUP TITLE -->
    <div class="row">
        <div class="col-sm-12 border-transparent space-after space-before">
            <div class="col-sm-8 col-sm-offset-2 text-center group-title">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>
                        @Html.DisplayFor(model => model.Name)
                    </h1>
                </div>
                <div class="col-sm-2 text-right group-control-buttons">
                    @if (leader)
                    {
                        @Html.ActionLink("Edytuj", "EditGroup", new { id = Model.Id }, new { @class = "btn-small-grey" })
                        @Html.ActionLink("Usuń", "DeleteGroup", new { id = Model.Id }, new { @class = "btn-small-grey" })
                    }
                </div>
                <div class="col-sm-12">
                    <hr class="molten-core-bold" />
                    @{
                        if (Model.Topic != null)
                        {
                            <a href="#">
                                <h1>@Model.Topic.Title</h1>
                            </a>
                            <h2>@Model.Topic.Subject.Name</h2>
                        }
                        else
                        {
                            if (leader)
                            {
                                <a href="#">
                                    <h2>
                                        <i class="fa fa-plus-square-o"></i> Dodaj temat do grupy
                                    </h2>
                                </a>
                            }
                            else
                            {
                                <h2>Lider grupy nie wybrał jeszcze tematu.</h2>
                            }
                        }
                    }
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="col-sm-3 space-after"></div>
        </div>
    </div>
    <!-- GROUP TITLE END -->
    <!-- CONTENT -->
    <div class=row>

        <!-- COMMENT SECTION START -->
        <div class="col-sm-8 border-transparent comment-section space-after">
            <div class="row">
                <!-- Add comment button -->
                <div class="col-sm-3 text-center">
                    <span class="text-center add-comment">
                        @Html.ActionLink("DODAJ KOMENTARZ", "AddComment", "Group", new { groupId = Model.Id, }, new { @class = "btn btn-grey" })
                    </span>
                </div>
                <!-- Add comment button end-->
                <!-- Comments title-->
                <div class="col-sm-6 text-center">
                    <span class="text-center">
                        <h2 class="inblock">KOMENTARZE</h2>
                    </span>
                </div>
                <!-- Comments title end-->
                <!-- Coherence -->
                <div class="col-sm-3"></div>
            </div>
            <!-- COMMENT START -->
            @if (Model.GroupComments.Any())
            {
                @foreach (var c in Model.GroupComments)
                {
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 single-comment">
                            <div class="row">
                                <div class="col-sm-8 bold inblock">
                                    @c.Author.FirstName @c.Author.LastName
                                </div>

                                <div class="col-sm-4 text-right inblock">
                                    @if (Model.CurrentUser.Id == c.AuthorId)
                                    {
                                        @Html.ActionLink("Edytuj", "EditComment", new { groupid = Model.Id, commentid = c.Id }, new { @class = "btn-small-grey" })
                                        @Html.ActionLink("Usuń", "DeleteComment", new { commentid = c.Id }, new { @class = "btn-small-grey" })
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    @c.Content
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 thin font-grey">
                                    <span>Data dodania:</span> <span class="bold">@c.CreationDate</span>
                                </div>
                            </div>
                            @if (c.ModificationDate != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12 text-small thin font-grey">
                                        <span>Data modyfikacji:</span> <span class="bold">@c.ModificationDate</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-sm-12 text-center">
                    <h2>Na chwilę obecną brak komentarzy.</h2>
                </div>
            }
            <!-- COMMENT END -->
        </div>
        <!-- COMMENT SECIONT END -->
        <!-- USER LIST -->
        <div class="col-sm-4 space-after user-list">
            <div class="text-center group-list-sm border-transparent">
                <h3>Członkowie:</h3>
                <hr class="molten-core" />
                <ul class="list-unstyled">

                    <li>
                        <div class="list-item-info">
                            Lider: <a href="#">@Model.GroupLeader.FirstName @Model.GroupLeader.LastName</a>
                            <hr class="hr-narrow" />
                        </div>
                    </li>
                    @foreach (var s in Model.StudentsList)
                    {
                        <li>
                            <div class="list-item-info">
                                <a href="#">@s.FirstName @s.LastName</a>
                                <div class="pull-right">
                                    @if (leader)
                                    {
                                        @Html.ActionLink("usuń", "RemoveMember", new { groupId = Model.Id, memberId = s.Id }, new { @class = "btn-small-grey" })
                                    }
                                </div>
                                <hr class="hr-narrow" />
                            </div>
                        </li>
                    }
                </ul>
                <!-- ADD USER BUTTON -->
                @if (leader)
                {
                    <div class="row space-after">
                        <div class="text-center">
                            @Html.ActionLink("Dodaj osobę", "AddMember", new { groupId = Model.Id }, new { @class = "btn btn-grey" })
                        </div>
                    </div>
                }
                <!-- ADD USER BUTTON END -->
            </div>

        </div>
        <!-- USER LIST END -->
    </div>
</div>